<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pen_and_Paper_Visualator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <userSettings>
    <Pen_and_Paper_Visualator.Properties.Settings>
      <setting name="DataLocation" serializeAs="String">
        <value>C:\Users\brett\Google Drive\Visualator\</value>
      </setting>
      <setting name="PlaySounds" serializeAs="String">
        <value>False</value>
      </setting>
    </Pen_and_Paper_Visualator.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
